/target/tmall-1.0-SNAPSHOT-jar-with-dependencies.jar
/tmall-common/target/tmall-common-1.0-SNAPSHOT.jar
/tmall-common/target/tmall-common-1.0-SNAPSHOT-jar-with-dependencies.jar
/tmall-generlog/target/tmall-generlog-1.0-SNAPSHOT.jar
/tmall-generlog/target/tmall-generlog-1.0-SNAPSHOT-jar-with-dependencies.jar
